<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head/meta-tags" . -}}
    {{- partial "head/css" . -}} 
    {{- partial "head/js" . -}}

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="TVQPDWBA" data-excluded-domains="localhost" defer></script>
  </head>
  <body>
    {{- partial "navbar" . -}}
    <main class="container">
      {{ block "main" . }} 
      {{ end }}
    </main>
    {{- partial "footer" . -}}
  </body>
</html>
