{{ $c := $.Site.Params.cloudurl }}


{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $w := or (.Get "w") 1920 }}
{{ $h := or (.Get "h") 1280 }}

{{ $sz := "(min-width: 69ch) 69ch, 100vw"}}

<figure>
  <img
    width="{{ $w }}"
    height="{{ $h }}"
    loading="lazy"
    sizes="{{$sz}}"
    srcset="
      {{$c}}f_auto,w_360/{{$src}}   360w,
      {{$c}}f_auto,w_720/{{$src}}   720w,
      {{$c}}f_auto,w_1280/{{$src}} 1280w,
      {{$c}}f_auto,w_2560/{{$src}} 2560w
    "
    src="{{$c}}f_auto,w_1280/{{$src}}"
    alt="{{ $alt }}"
  />
{{ with .Get "caption" }}
  <figcaption>{{ . }}</figcaption>
{{ end }}
</figure>